<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <a href="https://github.com/phaus/simonsays"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
        <div class="cloud">
            <div class="left">
                <a href="http://www.innoq.com">
                    <img alt="Company_Logo" src="/public/images/company_logo.png" />
                </a>
            </div>
            <div  class="left">
                <a href="@{ Questions.index() }">Questions</a><br />
                <a href="@{ Answers.index() }">Answers</a><br />
                <a href="@{ Tags.index() }">Tags</a><br />
            </div>
            <div class="clear"></div>
            <h1>FAQ <a href="@{ Application.index() }">ask a Question</a> </h1>
            <hr />
            #{doLayout /}
            <hr />
            <a class="link" href="mailto:christian.sarazin@innoq.com?subject=Problem mit dem Password">Kontakt bei Problemen</a>
        </div>
    </body>
</html>
